{% extends 'base.html.twig' %}

{% block title job.title|title %}

{% block body %}

    <h1>{{ block('title') }}</h1>

    <div class="job-offer" id="job-{{ job.id }}">
        <h2>{{ job.title|title }}</h2>
        {{ include('jobs/metas.html.twig') }}
    </div>

{% endblock %}
