services:

    app.resume_uploader:
        class: 'AppBundle\JobOffer\ResumeFileUploader'
        arguments: ['%resumes_dir%']

    app.job_application:
        class: 'AppBundle\JobOffer\JobApplicationService'
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@app.resume_uploader'
